# Environment configuration for {{ username }}
DJANGO_SETTINGS_MODULE={{ django_settings_module }}
DJANGO_SECRET_KEY={{ django_secret_key }}
DEBUG=False
DJANGO_ALLOWED_HOSTS={{ traefik_domain }},home.xn--wersdrfer-47a.de,{{ django_allowed_host }},localhost,127.0.0.1,macmini.fritz.box
# Disable SSL redirect for internal health checks
DJANGO_SECURE_SSL_REDIRECT=False