http:
  routers:
    homelab:
      rule: "Host(`home.xn--wersdrfer-47a.de`)"
      entryPoints:
        - web
      service: homelab
    
    # HTTPS router with basic auth for all users
    # Note: Conditional auth (Tailscale bypass) requires either:
    # - A custom forwardAuth service
    # - Application-level IP detection
    # - Traefik plugin for conditional authentication
    homelab-secure:
      rule: "Host(`home.xn--wersdrfer-47a.de`)"
      entryPoints:
        - web-secure
      middlewares:
        - basic-auth
        - default-headers
        - gzip
      service: homelab
      tls:
        certResolver: letsencrypt
        domains:
          - main: "home.xn--wersdrfer-47a.de"
  
  middlewares:
    basic-auth:
      basicAuth:
        users:
          - "{{ traefik_basic_auth_user }}:{{ traefik_basic_auth_password_hash }}"
        removeHeader: true
    
    default-headers:
      headers:
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https
    
    gzip:
      compress: {}
  
  services:
    homelab:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:{{ app_port }}"